body {
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: #9e091b;
    @media only screen and (max-width: 768px) {
        width: inherit;
    }
}


h1 {
    width: 100%;
    text-align: center;
}