.wrapper {
    display: flex;
    flex-direction: row;
}
body {
    font-family: "Sofia Sans", sans-serif;
}
.main-text {
    margin: 10px;
}
h1 {
    color: #9e091b;
}
hr {
    border: none;
    background-color: #c80c28;
    height: 3px;
}